@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bungee', cursive;

    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /*background-color: #FBAB7E;*/
    /*background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);*/

}

.out{
    height: 450px;
    width: 450px;
}

#board1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.digit{
    height: 100px;
    width: 100px;
    font-size: 35px;
}

.submitBtn{
    width: 300px;
    height: 60px;
    font-size: 25px;
    margin-bottom: 20px;
    cursor: grab;
}

.selectionPane{
    margin-top: 20px;
    gap: 10px;
}

.digitSelect{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 25px;
    cursor: pointer;
}

#scoreLine{
    display: inline-flex;
}

#gameTitle{
    font-size: 50px;
    /*margin-bottom: 100px;*/
    background: #FFB76B;
    background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px white;
    /*text-shadow: black;*/
    /*box-shadow: 0px 2px 2px 2px grey;*/
}

#btnStart{
    width: 350px;
    height: 70px;
    margin-top: 50px;
    font-size: 25px;
    background-color: #FFA73D;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px grey;
    cursor: grab;
}

#btnStart:hover{
    background-color: #F37335;
    color: white;
}

.swal-button {
    background-color: #F37335;
    /*font-size: 12px;*/
    border: 1px solid #F37335;
    /*text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);*/
}



/*------------------------*/

